@import "./../../assets/styles/variables";
.banner-about {
  border-radius: 10px;
  position: relative;
  left: 320px;

};

.listing {
  
  width: 70%;
  margin: 0 auto;
  font-weight:400px;
  
  &_collapse {
    margin-bottom: 20px;

  }
}


