@import "./../../assets/styles/variables";

.housing {
  &_box {
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    align-items: center;
    justify-content: space-between;

    max-width: 85%;
    color: $color-secondary;

    @media screen and (max-width: 700px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-AR;
      margin-left: 12%;
      max-width: 75%;
    }
    .display {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 2%;
      @media screen and (min-width: 651px) and (max-width: 700px) {
        flex-direction: row;
        gap: 78%;
      }
      @media screen and (min-width: 600px) and (max-width: 650px) {
        flex-direction: row;
        gap: 68%;
      }
      @media screen and (min-width: 551px) and (max-width: 599px) {
        flex-direction: row;
        gap: 55%;
      }
      @media screen and (min-width: 500px) and (max-width: 549px) {
        flex-direction: row;
        gap: 43%;
      }
      @media screen and (min-width: 450px) and (max-width: 499px) {
        flex-direction: row;
        gap: 25%;
      }
      @media screen and (min-width: 400px) and (max-width: 449px) {
        flex-direction: row;
        gap: 20%;
      }
      @media screen and (min-width: 350px) and (max-width: 399px) {
        flex-direction: row;
        gap: 30%;
        align-items: center;
      }
      @media screen and (min-width: 250px) and (max-width: 349px) {
        flex-direction: row;
        gap: 4%;
        align-items: center;
      }
    }

    &_text {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: $color-secondary;
      padding-bottom: 20px;

      &_host {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 30px;
        @media screen and (min-width: 250px) and (max-width: 399px) {
          gap: 10px;
          font-size: 12px;
        }

        @media screen and (max-width: 700px) {
          display: flex;
          flex-direction: row;
          padding-bottom: 0px;
        }
        @media screen and (max-width: 560px) {
        }
        &_name {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          flex-wrap: wrap;
          margin-right: 0px;
          @media screen and (min-width: 250px) and (max-width: 399px) {
            flex-direction: row;
            margin-right: 0px;
          }
        }

        &_breakdown {
          display: flex;
          justify-content: space-between;
          margin: 19px;
          width: 85%;
          gap: 10%;
          margin-left: 8%;
          @media screen and (max-width: 700px) {
            flex-direction: column;
            gap: 0%;
            width: 76%;
            margin-left: 12%;
          }
          &_item {
            width: 49%;

            @media screen and (max-width: 700px) {
              width: 100%;
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

.picture {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  @media screen and (min-width: 250px) and (max-width: 349px) {width: 40px;
  height: 40px;
}
}

button {
  display: inline;
  padding: 5px 15px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  color: var(--gray-1);
  background-color: var(--title-1);
   @media screen and (min-width: 250px) and (max-width: 399px) {
        
          font-size: 10px;
        }

  &:hover {
    box-shadow: 0 2px 8px rgb(0, 0, 0);
  }
}

.stars {
  width: 30px;
  @media screen and (min-width: 250px) and (max-width: 400px) {
    width: 20px;
  }
}
h1 {
  line-height: 51px;
   @media screen and (min-width: 350px) and (max-width: 700px) {
    font-size: 30px;
}
   @media screen and (min-width: 250px) and (max-width: 349px) {
    font-size: 23px;
}
}