.housing_box {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 95%;
  color: var(--title-1);
}

.housing_box_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.housing_box_text_host {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  bottom: 40px;
}

.housing_box_text_host_name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.housing_box_text_host_breakdown {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  margin: 30px;
  width: 95%;
}

.housing_box_text_host_breakdown_item {
  width: 40%;
}

.picture {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

button {
  display: inline;
  padding: 5px 15px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  color: var(--gray-1);
  background-color: var(--title-1);
}

button:hover {
  box-shadow: 0 2px 8px black;
}

.stars {
  width: 30px;
}
