@import "./../../assets/styles/variables";

.housing {
  &_box {
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    
    justify-content: space-between;
    align-items: flex-end;
    max-width: 85%;
    color: $color-secondary;
  
    @media screen and (max-width: 700px) {
      flex-direction: column;
      align-items: flex-start;
    }

    &_text {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: $color-secondary;
      padding-bottom: 20px;

      &_host {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        bottom: 40px;
        @media screen and (max-width: 700px) {
          display: flex;
          flex-direction: row;
          position: absolute;
          top: 34%;
          left: 73%;
          right: 6%;
        }

        &_name {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          flex-wrap: wrap;
        }

        &_breakdown {
          display: flex;
          justify-content: space-between;
          margin: 19px;
          width: 85%;
          gap: 10%;
          margin-left: 8%;
          @media screen and (max-width: 700px) {
            flex-direction: column;
            gap: 0%;
          }
          &_item {
            width: 49%;
            @media screen and (max-width: 700px) {
              width: 100%;
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

.picture {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

button {
  display: inline;
  padding: 5px 15px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  color: var(--gray-1);
  background-color: var(--title-1);

  &:hover {
    box-shadow: 0 2px 8px rgb(0, 0, 0);
  }
}

.stars {
  width: 30px;
}
h1 {
  line-height: 51px;
}
