main {
  padding-left: 20px;
  padding-right: 20px;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  background-color: #f7f7f7;
  max-width: 91%;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
}
