.list_apartment {
  position: relative;

  width: 30%;
  height: 340PX;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.15s ease-in-out;

  &::after {
    content: "";
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
   
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }
  &:hover {
    box-shadow: 0 0px 8px rgb(0, 0, 0);
  }
  &:hover img {
    transform: scale(1.03);
  }

  img {
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
    border-radius: 20px;
    height:100%;
    width: 100%;
    padding: 10px;
  }

  h3 {
    z-index: 18;
    position: absolute; 
    bottom: 20px;
    left: 20px;
    right: 20px;
    font-weight: 500;
    font-size: 18px;
    color: var(--text-primary-color);
  margin-right:40px;
  }
 


  }

 

