.list_apartment {
  display: flex;
  position: relative;
  width: 30%;
  height: 300px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.15s ease-in-out;
}

@media screen and (min-width: 700px) and (max-width: 1399px) {
  .list_apartment {
    width: 45%;
  }
}

@media screen and (max-width: 947px) {
  .list_apartment {
    width: 100%;
  }
}

.list_apartment::after {
  content: "";
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.list_apartment:hover {
  box-shadow: 0 0px 8px black;
}

.list_apartment:hover img {
  transform: scale(1.03);
}

.list_apartment img {
  object-fit: cover;
  object-position: center;
  transition: transform 0.2s ease-in-out;
  will-change: transform;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.list_apartment h3 {
  z-index: 1;
  position: absolute;
  bottom: 35px;
  left: 20px;
  right: 20px;
  font-weight: 500;
  font-size: 18px;
  color: var(--text-primary-color);
  margin-right: 40px;
  width: 70%;
  margin-bottom: 5px;
}

@media screen and (max-width: 465px) {
  .list_apartment h3 {
    font-size: 13px;
  }
}

.list_apartment h4 {
  z-index: 1;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  font-weight: 500;
  font-size: 18px;
  color: var(--text-primary-color);
  margin-right: 40px;
  width: 70%;
}

@media screen and (max-width: 465px) {
  .list_apartment h4 {
    font-size: 13px;
  }
}
