.breakdown {
  max-width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin: 0 auto;
}

.breakdown_title {
  justify-content: space-between;
  background-color: #FF6060;
  font-size: 20px;
  color: var(--gray-3);
  border-radius: 5px;
  font-weight: 500;
  padding: 10px 15px;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .breakdown_title {
    padding: 8px 13px;
  }
}

.breakdown_title .arrow_up {
  transition: all 0.3s ease-in-out;
  transform: rotate(0deg);
}

.breakdown_title .arrow_down {
  transition: all 0.3s ease-in-out;
  transform: rotate(180deg);
}

.breakdown_text {
  visibility: visible;
  color: #FF6060;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  font-size: 20px;
  background-color: #F7F7F7;
}

.breakdown_text_out {
  visibility: hidden;
  height: 20px;
}
