@import "./../../assets/styles/styles/variables";







nav a.active {
  border-bottom: 1px solid $color-secondary;

}

.head {
 display: flex;
align-items: center;
justify-content:space-between;
margin-right: 6%;
margin-left: 6%;
margin-top:20px;
@media screen and (max-width: 700px){
            margin:5%;
        }
}

.item {
  display: flex;
  align-items: center;
  color: $color-secondary;
  font-size: 30px;
  gap: 30px;
  @media screen and (max-width: 700px){
           width: 400px;
           margin-left: 90px;
           gap: 10px;
           text-transform: uppercase;
        }
}  


    