@import "./../../assets/styles/styles/variables";

nav a.active {
  border-bottom: 1px solid $color-secondary;
}

.head {
  display: flex;
  align-items: center;
 justify-content:space-between;

  padding-left: 7.5%;
  padding-right: 8%;
  margin-top: 20px;
 @media screen and (max-width: 700px) {
    justify-content: space-evenly;
  }
}
img { @media screen and (max-width: 700px) {
    
  }}

.item {
  display: flex;
  align-items: center;
  color: $color-secondary;
  font-size: 20px;
  gap: 30px;
  @media screen and (max-width: 700px) {
    gap: 20px;
    text-transform: uppercase;
    width: 100%;
  }
}
