.img .kasa-logo {
  height: 70px;
}

.nav-container {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.style-link {
  padding: 15px;
  color: #8186a0;
  text-decoration: none;
  font-size: 18px;
}
