@import "./../../assets/styles/styles/variables";







nav a.active {
  border-bottom: 1px solid $color-secondary;

}

.head {
display: flex;
align-items: center;
justify-content:space-between;
margin-right: 7%;
margin-left: 7%;
margin-top:20px;
@media screen and (max-width: 700px){

        }
}

.item {
  display: flex;
  align-items: center;
  color: $color-secondary;
  font-size: 20px;
  gap: 30px;
  @media screen and (max-width: 700px){
          
          
           gap: 10px;
           text-transform: uppercase;
        }
}  


    