nav a.active {
  border-bottom: 1px solid #FF6060;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 6%;
  margin-left: 5%;
}

.item {
  display: flex;
  align-items: center;
  color: #FF6060;
  font-size: 30px;
  gap: 30px;
}
