nav a.active {
  border-bottom: 1px solid #FF6060;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 7.5%;
  padding-right: 8%;
  margin-top: 20px;
}

@media screen and (max-width: 700px) {
  .head {
    justify-content: space-evenly;
  }
}

.item {
  display: flex;
  align-items: center;
  color: #FF6060;
  font-size: 20px;
  gap: 30px;
}

@media screen and (max-width: 700px) {
  .item {
    gap: 20px;
    text-transform: uppercase;
    width: 100%;
  }
}
