@mixin align{
    display: flex;
    flex-direction: row;
    align-items: center;
 
     }
     @mixin alignc{
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
 
     }
@mixin align_flf{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 auto;
     }
@mixin align_stars{
display: flex;
    flex-direction: row;
   flex: fill;
}