.banner {
  width: 100%;
  position: relative;
  left: 320px;
  border-radius: 30px;
  height: 200px;
}

.banner_img {
  border-radius: 20px;
  max-width: 100%;
}

.banner_text-banner {
  position: relative;
  height: 40px;
  left: 300px;
  bottom: 140px;
}
