.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 30px;
  background-size: cover;
}

.banner_img {
  border-radius: 20px;
  filter: brightness(0.7);
  width: 85vw;
  height: 223px;
}

@media screen and (max-width: 700px) {
  .banner_img {
    width: 80%;
  }
}

.banner_text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #f7f7f7;
  font-size: 35px;
  font-weight: 500;
}

@media screen and (min-width: 551px) and (max-width: 700px) {
  .banner_text {
    line-height: 24px;
    font-size: 25px;
    width: 235px;
  }
}

@media screen and (min-width: 500px) and (max-width: 550px) {
  .banner_text {
    line-height: 24px;
    font-size: 25px;
    width: 235px;
  }
}

@media screen and (min-width: 400px) and (max-width: 499px) {
  .banner_text {
    line-height: 24px;
    font-size: 25px;
    width: 230px;
  }
}

@media screen and (min-width: 300px) and (max-width: 399px) {
  .banner_text {
    line-height: 24px;
    font-size: 18px;
    width: 168px;
  }
}

@media screen and (min-width: 200px) and (max-width: 299px) {
  .banner_text {
    line-height: 24px;
    font-size: 15px;
    width: 140px;
  }
}
