img.banner {
  width: 100%;

  &_banner {
    border-radius: 25px;

    left: 50px;
    background-size: cover;
  }
}

.banner-logoacc {
  max-width: 100%;
  height: 70px;
}

.text-banner {
  position: relative;

  right: 1000px;
  bottom: 10px;
}
