@import "./../../assets/styles/variables";
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 30px;
  background-size: cover;

  &_img {
    border-radius: 20px;
    filter: brightness(0.7);
    width: 87vw;
     height: 223px;
    
    @media screen and (max-width: 700px) {
       width: 600px;
     
    }
  }
  &_text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color:#f7f7f7;
    font-size:35px;
    font-weight:500;

    @media screen and (max-width: 700px) {
      width:217px;
      height:48px;
     
    }
  }
}


