@import "./../../assets/styles/variables";
.banner {
display: flex;
justify-content: center;
align-items: center;

 

  border-radius: 30px;

  background-size: cover;
  &_img {
    border-radius: 20px;
    filter: brightness(0.7);
    width: 87vw;
    @media screen and (max-width: 700px) {
      width: 600px;
      height: 200px;
      
    }
  }
  &_text {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
  }
}

.text-image {
 
  color: $color-primary;
  font-size: 48px;
  font-weight: 500; 
 @media screen and (min-width: 1450px) {
    
     bottom: 170px;
     left: 630px;

    }
}
