.banner {
  max-width: 95%;
  position: relative;
  left: 320px;
  border-radius: 30px;
  height: 200px;
  filter: brightness(65%);
  background-size: cover;
}

.banner_img {
  border-radius: 20px;
  max-width: 100%;
}

.banner_text-banner {
  position: relative;
  height: 40px;
  left: 600px;
  bottom: 140px;
}
