@import "../../Utils/mixins";

.errorpage {
  margin: 0 auto;
  color: var(--title-1);

  &_news {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 150px;
  }

  }
  .texterror {
    margin-top: 30px;}
  .returnAccueil {
      margin-top: 100px;
    }
